@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
    background: #f0f0f0;
    margin: 0;
    /* font-family: 'Poppins'; */
    /* padding: 0 40px; */
}

section {
    padding: 2em 2em;
    left: 0;
    right: 2em;
}

.testimonials-section {
    /* background: var(--primary-color); */
    color: white;
    margin-bottom: 6%;
}

.testimonials-section li {
    background: #20b2aa;
    text-align: center;
    font-size: 1em;
    
    padding: 2em 1em;
    width: 80%;
    height: 15em;
    margin: 0 auto 5em auto;
    border-radius: 1em;
    list-style: none
}
.testimonials-section li img {
    width: 5em;
    height: 5em;
    border: 5px solid #20b2aa;
    border-radius: 50%;
    margin-top: -4.5em;
    margin-bottom: 1.5em;
  }

.testimonials-section li:hover {
    background-color: #20b2aa;
    border: 2px solid #20b2aa;
}

.testimonials-section h2 {
    text-align: center;
    margin-bottom: 8%;
    color: black;
    font-family: 'Poppins';
    font-size: 2.5em;
}

@media only screen and (min-width: 1080px) {
    .testimonials-section ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .testimonials-section ul li {
        margin: 0 1em;
    }
}